.texto-secc-testers{
    margin: auto;
    text-align: left;
    padding: 1.5rem;  
    font-size: 1.5rem; 
    line-height: 1.9rem;
    font-weight: lighter;
}

.titulos-testers{
    font-size: 2rem;
    line-height: 2em;
    
}